html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: url("../images/tvTestPatternImage.jpg") repeat-y center;
    background-size: cover;
}

h1 {
    color: floralwhite;
    text-shadow: 4px -3px black;
}

#title {
    margin-top: 5px;
}
/* lines up the right edge of the "add-giph" button with the right edge of the text box*/
#add-giph {
    margin: 0px 5px;
}

p {
    color: #fff;
    text-shadow: 2px -1px black;
}